<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dvdrental</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="model/Rental.hbm.xml"/>
    <mapping resource="model/Actor.hbm.xml"/>
    <mapping resource="model/FilmCategory.hbm.xml"/>
    <mapping resource="model/Film.hbm.xml"/>
    <mapping resource="model/Store.hbm.xml"/>
    <mapping resource="model/Inventory.hbm.xml"/>
    <mapping resource="model/City.hbm.xml"/>
    <mapping resource="model/Staff.hbm.xml"/>
    <mapping resource="model/Country.hbm.xml"/>
    <mapping resource="model/FilmActor.hbm.xml"/>
    <mapping resource="model/Category.hbm.xml"/>
    <mapping resource="model/Language.hbm.xml"/>
    <mapping resource="model/Payment.hbm.xml"/>
    <mapping resource="model/Customer.hbm.xml"/>
    <mapping resource="model/Address.hbm.xml"/>
  </session-factory>

</hibernate-configuration>
